<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>Insert various open source licenses</string>
	<key>mainMenu</key>
	<dict>
			<key>items</key>
		<array>
			<string>1A7C4C42-62E3-4C02-8AFA-AB478D7FEC1F</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Licenses</string>
	<key>uuid</key>
	<string>752DC2FC-D3F0-4DA0-A340-82114D999280</string>
</dict>
</plist>
